@model CharacterViewModel
@using Dnd.Web.ViewModels

<div class="container-fluid table-bordered">
    <div class="row">
        <div class="col-md-3">
            <p class="text-center">@Html.DisplayFor(model => model.Name)</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Race, new { @class = "col-md-2" })
        <div class="col-md-2">
            <p>@Html.DisplayFor(model => model.Race)</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Size, new { @class = "col-md-2" })
        <div class="col-md-2">
            <p>@Html.DisplayFor(model => model.Size)</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Speed, new { @class = "col-md-2" })
        <div class="col-md-2">
            <p>@Html.DisplayFor(model => model.Speed)</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.HitpointsCurrent, new { @class = "col-md-2" })
        <div class="col-md-2">
            <p>@Html.DisplayFor(model => model.HitpointsCurrent)</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.HitpointsMax, new { @class = "col-md-2" })
        <div class="col-md-2">
            <p>@Html.DisplayFor(model => model.HitpointsMax)</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.ExperienceCurrent, new { @class = "col-md-2" })
        <div class="col-md-2">
            <p>@Html.DisplayFor(model => model.ExperienceCurrent)</p>
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(model => model.ExperienceLevel, new { @class = "col-md-2" })
        <div class="col-md-2">
            <p>@Html.DisplayFor(model => model.ExperienceLevel)</p>
        </div>
    </div>
</div>
